@import "@renderer/scss/colors";

.container {
  width: 650px;
  background-color: var(--background);
  border-radius: 20px;
  font-family: Figtree Variable;
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, .4);
  gap: 2rem;

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div {
      padding: 1rem 1.5rem;
      border-radius: 20px;
      border: 1px solid white;

      transition: color .1s ease, background-color .1s ease;
    }

    .confirm {
      &.active {
        background-color: $confirm;
        color: var(--background-dark);
        border: 1px solid transparent;
      }
    }

    .cancel {
      &.active {
        background-color: var(--primary);
        color: var(--background-dark);
        border: 1px solid transparent;
      }
    }
  }
}
