@import '@renderer/scss/colors';

.container {
  background-color: var(--background);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);

  display: flex;

  .left,
  .right {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .row {
    padding: 2rem;
  }

  .left {
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Figtree Variable;
      font-size: 1.3rem;
      color: $fadedminus;

      min-width: 250px;

      .sub {
        font-size: 0.8rem;
      }

      transition:
        background-color 0.1s ease,
        color 0.1s ease;

      &.active {
        background-color: var(--primary);
        color: var(--background-dark);
      }
    }
    background-color: var(--background-dark);
  }

  .right {
    .row {
      display: flex;
      justify-content: space-around;
      gap: 3rem;

      transition: backdrop-filter 0.1s ease;

      &.active {
        backdrop-filter: brightness(140%);
      }

      .column {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .contentWithLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font-family: Figtree Variable;
    font-size: 1rem;
    color: $faded;

    .showcaseWrapper {
      display: block;
    }
  }

  .img {
    transition:
      border 0.15s ease,
      transform 0.15s ease;

    height: 15vh;
    object-fit: cover;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
    border: 3px solid transparent;
    border-radius: 3px;

    &.active {
      border: 3px solid var(--primary);
      transform: scale(1.04);
    }
  }
}
