@import '@renderer/scss/colors';

.container {
  width: 650px;
  background-color: var(--background);
  border-radius: 20px;
  font-family: Figtree Variable;
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div {
      padding: 1rem 1.5rem;
      border-radius: 20px;
      border: 1px solid white;

      transition:
        color 0.1s ease,
        background-color 0.1s ease;

      &.active {
        background-color: $confirm;
        color: var(--background-dark);
        border: 1px solid transparent;

        &.default {
          background-color: var(--primary);
        }
        &.confirm {
          background-color: $confirm;
        }
      }
    }
  }
}
