@import "@renderer/scss/colors";

.landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

.scrollers {
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 0 0 20px 0;
  height: 100%;

  transition: opacity .2s ease;

  &.hidden {
    opacity: .4;
  }
}

.showcase {
  z-index: 2;
}

.shadowLong {
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, .6);
}
