.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);

  > div {
    background-color: hsl(200, 15%, 20%);
    border-radius: 20px;
    background-clip: padding-box;
    overflow: hidden;
  }
}
