@import "@renderer/scss/colors";

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

.inputModal {
  width: min(1088px, 85vw);

  .inputWrapper {
    width: 100%;
    height: 75px;
    padding: 20px;
    background-color: $background-light;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    font-size: 1.5rem;
    font-family: Figtree;
    color: white;
    align-items: center;
  }

  .inputCaret {
    animation-name: blink;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

.activeBtn {
  background-color: $background-dark !important;
}
