@import "@renderer/scss/colors";

.hg-theme-default {
  background-color: var(--background-dark);
  color: var(--primary);
  height: min(50vh, 400px);

  font-family: Figtree Variable;
  padding: 1rem;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, .4);

  .hg-rows {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;

    .hg-row {
      margin-bottom: 0;
      flex-basis: 100%;
      gap: .5rem;

      .hg-button {
        background-color: var(--background-light);
        border-bottom: unset;
        height: 100%;
        margin: 0;
        font-size: 1.4rem;

        &.hg-keyMarker {
          box-shadow: 0 0 0 2px var(--primary) !important;
        }

        &.hg-button-space {
          margin: 0 10%;
        }

        &.hg-button-shift-active:nth-child(1) {
          background-color: var(--background) !important;
        }
      }
    }
  }
}
