@import './scss/colors.scss';

.wave {
  position: fixed;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.flipper {
  height: 100%;
  width: 100%;
}

.motion-wrapper {
  height: 100%;
  width: 100%;
}
