@import "@renderer/scss/colors";

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .bgAndLogo {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(60%) blur(1px);
    }

    .logo {
      max-width: 60%;
      max-height: 60%;
      z-index: 1;
    }
  }

  .description {
    font-family: 'Figtree', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    margin-top: 2rem;
    height: 100%;
    overflow: hidden;
  }
}

