@import "@renderer/scss/colors";

.controllerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 30px;

  font-family: Figtree Variable, sans-serif;
  font-size: 1.3rem;
  color: $fadedminus;
  transition: all .1s ease;

  &.active {
    color: black;

    &.default { background-color: var(--primary) }
    &.caution { background-color: $caution }
    &.warning { background-color: $warning }
    &.confirm { background-color: $confirm; }
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3px;

  .sublabel {
    font-size: .9rem;
    transition: opacity .1s ease;

    &.active {
      opacity: 1;
    }
  }
}

.transparentScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.toggleOuter {
  height: 100%;
  width: 80px;
  transition: background-color .1s ease, opacity .1s ease;
  background-color: hsla(0, 0%, 50%, 60%);
  border-radius: 3rem;
  display: flex;
  justify-content: flex-end;
  padding: .3rem .4rem;
  opacity: .5;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .15);

  .toggleInner {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: hsla(0, 0%, 70%, 60%);
    transition: background-color .4s ease, opacity .1s ease;
    &.enabled {
      background-color: var(--primary);
    }
  }

  &.enabled {
    justify-content: flex-start;
  }

  &.active {
    background-color: var(--background);
    opacity: 1;
  }
}

.round {
  border-radius: 20px;
}

.selectorInput {
  display: flex;
  align-items: center;
  opacity: .5;
  transition: opacity .15s ease, scale .1s ease;

  &.active {
    opacity: 1;
    scale: 1.1;
  }
}
