@import "@renderer/scss/colors";

.controllerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 30px;

  font-family: Figtree, sans-serif;
  font-size: 1.3em;
  color: $fadedminus;
  transition: all .1s ease;

  &.active {
    color: $background;

    &.default { background-color: $primary; }
    &.caution { background-color: $caution; }
    &.warning { background-color: $warning; }
    &.confirm { background-color: $confirm; }
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3px;

  .sublabel {
    font-size: .6em;
    transition: opacity .1s ease;

    &.active {
      opacity: 1;
    }
  }
}

.transparentScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
}
