@import "@renderer/scss/colors";

.container {
  width: 600px;
  background-color: $background;
  border-radius: 20px;
  font-family: Figtree;
  color: white;
  overflow: hidden;
}

.label {
  padding: 30px 45px;
  text-align: center;
  font-size: 1.5rem;
}
