@import '@renderer/scss/colors.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  transition: filter 0.3s ease;

  &.inActive {
    filter: brightness(70%) opacity(50%);
    /* opacity: .7; */
  }
}

.main {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 5px 10px 15px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.label {
  padding: 15px 0 0 18px;
}
