@import "@renderer/scss/colors";

.main {
  width: 100vw;
  height: 35vh;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  transition: height 0.3s ease;

  display: flex;

  &.hidden {
    height: 0;
  }
}

.outerContent {
  flex: 3;
  background: rgba(0, 0, 0, .2);
}

.innerContent {
  height: 100%;
  width: 100%;

  padding: 2rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.description, .pills {
  font-family: 'Figtree', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.hero {
  position: relative;
  flex: 5;
  background-color: rgba(0, 0, 0, .5);
}


.logo {
  max-width: 60%;
  max-height: 50%;

  object-fit: contain;

  font-family: Figree, sans-serif;
  font-size: 4em;
  color: hsl(200, 15%, 90%);
  display: flex;
}

.pills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logoText {
  color: white;
  font-family: 'Figtree', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.heroOverlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .8), transparent 60%);
}

.logoOverlay {
  position: absolute;
  left: 0;
  top: 50%;
  padding-left: 1.5rem;
  transform: translateY(-50%);
  width: 30%;
  height: 100%;
  object-fit: contain;
}

.name {
  font-family: Figtree;
  color: white;
  font-size: 1.5rem;
}
