@import "@renderer/scss/colors";

.main {
  width: 100vw;
  height: 35vh;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  transition: height 0.3s ease;

  display: flex;

  &.hidden {
    height: 0;
  }

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
  transition: box-shadow .5s ease;
}

.outerContent {
  background: var(--background-medium);
  width: 100%;
  height: 100%;
}

.innerContent {
  height: 100%;
  width: 100%;
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.left {
  flex: 6.5;
  height: 100%;
  background-color: var(--background-dark);
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.text, .pills {
  font-family: 'Figtree Variable', sans-serif;
  font-weight: 400;
  color: white;
}

.text {
  font-size: 1.5rem;
}

.pills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
  padding: 0 4rem;
}

.imgLeft {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.8);
}

.imgRight {
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
}

.name {
  font-family: Figtree Variable;
  color: white;
  font-size: 1.5rem;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(50%);
  z-index: -1;
}

