@import '@renderer/scss/colors';

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.body {
  width: min(80vw, 1400px);
  height: min(80vh, 1000px);
  background-color: var(--background);
  border-radius: 20px;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);

  display: flex;
  overflow: hidden;

  @media screen and (max-width: 1050px) {
    width: 95%;
    height: 95%;
  }
}

.left {
  flex: 1;
  background-color: var(--background-medium);
  padding: 20px;
}

.right {
  flex: 3;
  height: 100%;
  transition: filter 0.1s ease;

  &.inactive {
    filter: opacity(50%);
  }
}
