@import "@renderer/scss/colors";

.button {
  border: 2px solid;
  padding: 12px;
  gap: 10px;

  display: flex;
  align-items: center;

  font-family: Figtree;
  font-size: 1.1em;
  color: white;

  transition: all .2s ease;
  border-radius: 50%;

  &.active {
    transform: scale(1.1);

    background-color: $primary;
    color: hsl(0, 0%, 20%);

    border-color: transparent;

    .label {
      max-width: 150px;
    }
  }
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  transition: filter ease .1s;

  &.inactive {
    filter: saturate(0%) opacity(50%);
  }
}

.label {
  padding: unset;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 250%);
  color: white;
  overflow: visible;
  text-wrap: nowrap;
}

.labelWrapper {
  transform-origin: center;
}

.buttonContainer {
  position: relative;
}


