@import '@renderer/scss/colors';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@700&family=Young+Serif&display=swap');

.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.background {
  object-fit: cover;
  width: 100%;
  height: 100%;

  &.withForeground {
    filter: brightness(65%) blur(0.6px);
  }
}

.elem {
  height: clamp(120px, 12vh, 160px);
  filter: brightness(85%);
  transition: all 0.15s ease;
  border-radius: 3px;
  border: 3px solid transparent;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-lighter);
  background-clip: content-box;

  &.swapTransform {
    transform: scale(0.96);
  }

  &.square {
    aspect-ratio: 1 / 1;
    height: clamp(150px, 15vh, 170px);

    .foreground {
      padding: 10%;
    }
  }

  &.landscape {
    aspect-ratio: 92 / 43;

    .foreground {
      padding: 4% 12%;
    }
  }

  &.active {
    filter: brightness(100%);
    border: 3px solid var(--primary);
    transform: scale(1.04);

    &.swapTransform {
      transform: unset;
    }
  }
}

.foregroundTextWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5% 8%;
}

.foregroundText {
  font-family: Figree, sans-serif;
  font-size: 1.5em;
  color: hsl(200, 15%, 90%);

  display: flex;
  align-items: center;

  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; // max nb lines to show
  -webkit-box-orient: vertical;
}
