$background: hsl(200, 15%, 20%);
$background-light: hsl(200, 15%, 30%);
$background-dark: hsl(200, 15%, 10%);

$primary: hsl(177, 24%, 84%);
$warning: hsl(0, 74%, 51%);
$caution: hsl(0, 71.61%, 56.24%);
$confirm: hsl(75, 70%, 60%);
$highlight: hsl(36, 100%, 49%);

$text-primary: white;
$text-secondary: hsl(0, 0%, 90%);

$fadedminus: hsla(0, 0%, 100%, 80%);
$faded: hsla(0, 0%, 100%, 50%);
$fadedplus: hsla(0, 0%, 100%, 30%);
