$background: hsl(200, 15%, 20%);
$background-light: hsl(200, 15%, 30%);
$background-dark: hsl(200, 15%, 10%);

$primary: hsl(177, 24%, 84%);
$warning: hsl(0, 44%, 54%);
$caution: hsl(0, 44%, 74%);
$confirm: hsl(75, 70%, 60%);
$highlight: hsl(36, 100%, 49%);

$fadedminus: hsla(0, 0%, 100%, 80%);
$faded: hsla(0, 0%, 100%, 50%);
$fadedplus: hsla(0, 0%, 100%, 30%);
