@import "@renderer/scss/colors";

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storeWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.emudeckWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gamePreview {
  background-color: $background-dark;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 2rem;

  img {
    height: 250px;
    border-radius: 1rem;
    aspect-ratio: 4 / 3;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    font-family: Figtree;
    color: white;

    &.centered {
      align-items: center;
      width: 100%;
    }

  }
}

.pill {
  font-size: 1rem;
  padding: none;
  gap: .5rem;
}
