@import '@renderer/scss/colors.scss';

.sectionButton {
  font-family:
    Figtree Variable,
    sans-serif;

  width: 100%;
  border-radius: 20px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 1.2rem;

  background-color: hsla(0, 0%, 0%, 0%);
  color: var(--primary);

  transition:
    background-color 0.1s ease,
    color 0.1s ease;

  &.active {
    background-color: var(--primary);
    color: var(--background);
  }
}

.sectionSelector {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: filter 0.1s ease;

  &.inactive {
    filter: opacity(50%);
  }
}
