@import '@renderer/scss/colors';

.notificationsOverlay {
  position: fixed;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;

  padding: 2rem;
  z-index: 99;

  pointer-events: none;
}

.notificationDisplay {
  background-color: var(--primary);
  padding: 1.5rem 2rem;
  font-family: Figtree Variable;
  font-size: 1.2rem;

  color: var(--background-dark);
  border-radius: 1rem;
  max-width: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);

  .icon {
    font-size: 1.6rem;
    display: block;
    flex-shrink: 0;
  }

  &.error {
    background-color: $caution;
  }

  &.success {
    background-color: $confirm;
  }
}
