.container {
  height: 100%;

  display: flex;
}

.left {
  flex: 4;
  padding: 1rem;
}

.right {
  flex: 2.5;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);

}

.gameView {
  padding: 2rem;
  height: 100%;
}
