@import "@renderer/scss/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pills {
  display: flex;
  gap: 1rem;
}

.description {
  max-height: 65vh;
  max-width: 1300px;
  background-color: $background-medium;
  padding: 1.8rem;
  border-radius: 1rem;

  .descriptionText {
    height: 100%;
    white-space: pre-wrap;
    overflow: hidden;
  }
}
